body {
    background-color: black;
    color: white;
    margin: 0px;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: #333;
    padding: 8px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
}


header > nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

header > nav > ul > li {
    margin: 0 15px;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
}

header > nav > ul > li > a:hover {
    background-color: #575757;
    color: #ffcc00;
}

header > img {
    height: 100%;
}

#projects {
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: space-evenly;
}

#projects > .main-game {
    width: 98%;
    display: flex;
    flex-direction: column;
    border: 6px green solid;
    border-radius: 5px;
}

#projects > .game {
    width: 45%;
    display: flex;
    flex-direction: column;
    border: 6px green solid;
    border-radius: 5px;
    margin-bottom: 10px;
}

#projects .image > img {
    width: 100%;
    height: 100%;
}

#projects .text {
    text-align: center;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#projects .text > p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    align-self: center;
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

.info > a {
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 100%;
    line-height: 35px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

h3 {
    font-size: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

h4 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 20px;
}

#title {
    margin-left: 25%;
    margin-right: 25%;
}

#title > table {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
}

#title > table > tbody > tr > td:last-child {
    text-align: center;
}

#title > p {
    font-size: 18px;
}

#title > img {
    width: 100%;
    margin-bottom: 15px;
}

#contributions {
    margin-left: 25%;
    margin-right: 25%;
}

#contributions > .data {
    margin-bottom: 40px;
}

#contributions > .data > ul {
    font-size: 18px;
}

#contributions > .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contributions > .gallery > .example {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 6px green solid;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 125px;
}

footer > .media {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 8px 25px;
    text-decoration: none;
    text-align: center;
    vertical-align: sub;
    display: flex;
    flex-direction: row;
}

footer > .media:hover {
    background-color: #575757;
    color: white;
}

footer > .media > i {
    font-size: 25px;
    margin-right: 3px;
}

footer > .media > p {
    margin-bottom: 0px;
    margin-top: 5px;
}