:root {
    --background: black;
    --background-trans: rgb(37, 33, 78);
    --text: white;
    --text-hover: yellow;
    --border: rgb(62, 91, 146);
    --button: blue;
    --button-hover: cyan;
    --header: rgb(50, 47, 87);
    --header-hover: darkgrey;
}

body {
    background-color: rgb(25, 24, 48);
    color: var(--text);
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    position: sticky;   
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: var(--header);
    padding: 8px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    box-shadow: 0px 15px 15px black;
    width: 98%;
}


header > nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

header > nav > ul > li {
    margin: 0 15px;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    padding: 5px 10px;
}

header > nav > ul > li > a:hover {
    background-color: var(--header-hover);
    color: var(--text-hover);
}

header > img {
    height: 100%;
}

#projects {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    
}

#projects > .game-box {
    background-color: var(--background-trans);
    margin-top: 40px;
    border-radius: 40px;
    box-shadow: 11px 11px 15px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px 4%;
}

#projects > .game-box > .main-game {
    width: 98%;
    display: flex;  
    flex-direction: column;
    border: 6px solid var(--border);
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 9px 9px 15px black;
}

#projects > .game-box > .game {
    width: 45%;
    display: flex;
    flex-direction: column;
    border: 6px solid var(--border);
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 7px 7px 15px black;
}

#projects > .game-box .image > img {
    width: 100%;
    height: 100%;
}

#projects > .game-box .text {
    text-align: center;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}

#projects > .game-box .text > p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    align-self: center;
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

.info > a {
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 100%;
    line-height: 35px;
    color: var(--text);
    background-color: var(--button);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

h3 {
    font-size: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 70px;
    margin: 20px 0px;
}   

h4 {
    text-align: center;
    font-size: 40px;
    margin: 20px;
}

#title {
    background-color: var(--background-trans);
    border-radius: 40px;
    box-shadow: 11px 11px 15px black;
    padding: 15px 4%;
    margin-top: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title > table {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;
    border: 5px solid var(--border);
    border-radius: 15px;
    box-shadow: 9px 9px 15px black;
    padding: 10px;
}

#title > table > tbody > tr > td:last-child {
    text-align: center;
}

#title > .game-summary {
    width: 80%;
    border: 5px solid var(--border);
    border-radius: 15px;
    box-shadow: 9px 9px 15px black;
    padding: 10px;
    margin-bottom: 10px;
}

#title > .game-summary > p {
    font-size: 18px;
}

#title > .game-summary > img {
    width: 100%;
    margin-bottom: 15px;
}   

#contributions {
    background-color: var(--background-trans);
    border-radius: 40px;
    box-shadow: 11px 11px 15px black;
    padding: 15px 4%;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 50%;
}

#contributions > .data {
    margin-bottom: 40px;
    border: 5px solid var(--border);
    border-radius: 15px;
    box-shadow: 9px 9px 15px black;
}

#contributions > .data > ul {
    font-size: 18px;
}

#contributions > .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contributions > .gallery > .example {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 6px solid var(--border);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 7px 7px 15px black;
}

#me {
    width: 40%;
    margin-top: 60px;
    background-color: var(--background-trans);
    border-radius: 40px;
    box-shadow: 11px 11px 15px black;
    padding: 15px 4%;
}

#me > .meData {
    display: flex;
    flex-direction: row;
    border: 5px solid var(--border);
    border-radius: 15px;
    box-shadow: 9px 9px 15px black;
    padding: 10px;
}

#me > .meData > .meText {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
}

#me > .meData > .meImage {
    width: 75%;
}

#me > .meData > .meImage > img {
    border-radius: 100%;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 40%;
    background-color: var(--background-trans);
    border-radius: 40px;
    box-shadow: 11px 11px 15px black;
    padding: 15px 4%;
}

footer > .form-container {
    border-radius: 12px;
    width: 100%;
    border: 5px solid var(--border);
    border-radius: 15px;
    box-shadow: 9px 9px 15px black;
    margin-bottom: 10px;
}

footer > .form-container > h2 {
    text-align: center;
    margin-bottom: 15px;
}

footer > .form-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > .form-container > form > label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
    width: 90%;
}

footer > .form-container > form > input, textarea {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--border);
    border-radius: 6px;
    font-size: 14px;
}

footer > .form-container > form > textarea {
    height: 200px;
}
    
footer > .form-container > form > button {
    margin-top: 15px;
    width: 40%;
    padding: 10px;
    background: var(--button);
    border: none;
    font-size: 16px;
    color: var(--text);
    border-radius: 6px;
    cursor: pointer;
}

footer > .form-container > form > button:hover {
    background: var(--button-hover);
}